.img-small {
    background-color: rgb(55, 57, 54);
    color: rgb(55, 57, 54);
    width: 10%;
    border:rgb(55, 57, 54);
    padding: 1%;
}
.navbar{
    margin-bottom: 2%;
    background-color: rgb(131, 171, 40);

}

.nutri {
    float: right;
    margin-right: 20px; 
}
h1 {
    float: left;
    margin-left: 15%;
    margin-top: 2%;
    color: #333; 
}
h4 {
    float: left;
    margin-left: 10px;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1%px;
}
.container-texto{
    max-width: 75%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Define duas colunas */
    grid-gap: 20px; /* Espaçamento entre as colunas */
}




@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.sobre {
    animation: fadeIn 1s ease-in-out forwards;
}

/* CSS para alinhar imagem e texto */
.container-footer {
    text-align: center; /* Centraliza o conteúdo */
}

.item-footer {
    display: inline-block; /* Permite que os itens fiquem lado a lado */
    margin: 10px; /* Espaçamento entre os itens */
}

.img-thumbnail-footer {
    max-width: 100%;
    display: block;
    margin-bottom: 15px; /* Ajuste este valor conforme necessário para igualar o espaçamento */
}

.imgs, .nome-footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.imgs img, .nome-footer p {
    margin: 10px 0; /* Ajuste o valor de margem conforme necessário */
}


